extends layout

block content
    h1.
      Categories 
    div
      table.table.table-hover

        thead
          tr 
            th Category
            th Sum
        tbody
          each category, i in categories
            tr
              td= category._id
              td= category.sum
              
    a.btn.btn-primary(href="/expenses") Back