extends layout

block content
    h1.
        Expenses 
    div
      table
        thead
          tr 
            th Name
            th Price
            th Category
            th Date
        tbody
          each expense, i in expenses
            tr
              td= expense.name
              td= expense.price
              td= expense.category
              td= expense.date
              td 
                a.btn.btn-success( href="/expense/" + expense._id ) Details
                a.btn.btn-warning( href="/expense/edit/" + expense._id ) Edit
                a.btn.btn-danger( href="/expense/remove/" + expense._id ) Delete

    a.btn.btn-primary(href="/addexpense") Add expense