extends layout

block content
    h1.
        Expenses 

    div
      table
        thead
          tr 
            th Name
            th Price
            th Category
        tbody
          each expense, i in expenses
            tr
              td= expense.name
              td= expense.price
              td= expense.category
              td 
                a(href="/expense/" + expense._id) Details
                a(href="/expense/edit/" + expense._id) Edit
                a(href="/expense/remove/" + expense._id) Delete

    a(href="/addexpense") Add expense