extends layout

block content

  h1 Expense Details

  h3 Name
  p= expense.name

  h3 Price
  p= expense.price

  h3 Category
  p= expense.category

  h3 Date
  p= expense.date


  a(href="/expenses") << Back
  