extends layout

block content
    h1.
        Expenses 
    div
      table.table.table-hover

        thead
          tr 
            th Name
            th Price
            th Category
            th Date
            th Details
            th Edit
            th Delete
        tbody
          each expense, i in expenses
            tr
              td= expense.name
              td= expense.price
              td= expense.category
              td= expense.date
              td: a.btn.btn-success( href="/expense/" + expense._id ) 
                span.glyphicon.glyphicon-search
              td: a.btn.btn-warning( href="/expense/edit/" + expense._id )
                span.glyphicon.glyphicon-pencil
              td: a.btn.btn-danger( href="/expense/remove/" + expense._id )
                span.glyphicon.glyphicon-remove

    a.btn.btn-primary(href="/addexpense") Add expense
    a.btn.btn-primary(href="/categories") Show statictics

