extends layout

block content
    h1.
        Expenses 

    div
      table
        thead
          tr 
            th Name
            th Price
        tbody
          each expense, i in expenses
            tr
              td= expense.name
              td= expense.price
              td 
                a(href="/expense/" + expense._id) Details