doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    script(src='//code.jquery.com/jquery-1.10.2.js')
    script(src='//code.jquery.com/ui/1.11.4/jquery-ui.js')
    script(type='text/javascript').
      $(function() { 
        $( "#inputDate" ).datepicker();
      });
  body
    block content
